#include "/home/smlb/.config/colors/smlb"

URxvt.font:     xft:Monospace:size=9:antialias=true
URxvt.boldFont: xft:Monospace:bold:size=9:antialias=true

URxvt.scrollstyle: plain
URxvt.scrollBar: off

URxvt*termName:rxvt-unicode-256color
URxvt.jumpScroll: false
URxvt.saveLines: 32
URxvt.letterSpace: 0
URxvt.internalBorder: 2
URxvt*loginShell: true
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: false
Xft.hinstyle: hintfull
Xft.lcdfilter: lcddefault
URxvt*xftAntialias: true

*urgentOnBell:     true

urxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select
URxvt.url-launcher: chromium 
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.iso14755: False
URxvt.matcher.button: 1
URxvt.colorUL: #2960C7
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
urxvt*secondaryScroll: false
urxvt*saveLines: 500
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
URxvt.keysym.Shift-Control-C : perl:clipboard:copy
URxvt.keysym.Shift-Control-V : perl:clipboard:paste
URxvt.url-select.underline: true

